@import "../../global.scss";

.portfolio{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    h1{
        font-size: 50px;
        margin-top: 20px;
    }
    ul{
        margin: 15px;
        padding: 0px;
        list-style-type: none;
        display: flex;
        
        @include mobile{
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        li{
            font-size: 14px;
            margin-right: 50px;
            padding: 7px;
            cursor: pointer;

            @include mobile{
                margin: 10px 10px;
                border-radius: 10px;
                padding: 8px;
                font-size: 17px;
            }

            &.active{
                background-color: #15023a;
                color: white;
                border-radius: 10px;
            }
        }
    }
    .container{
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-right: 45px;

        @include mobile{
            height: 65%;
            margin: 0;
        }

        .item{
            width: 210px;
            height: 160px;
            border-radius: 20px;
            border: 1px solid rgb(240, 239, 239);
            margin: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            position: relative;
            transition: all 0.5s ease;
            cursor: pointer;

            @include mobile{
                width: 250px;
                height: 150px;
                margin-bottom: 20px;
            }

            h3{
                font-size: 20px;
                position: absolute;
            }
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                z-index: 1;

            }
            
            &:hover{
                background-color: #15023a;
                img{
                    opacity: 0.2;
                    z-index: 0;
                }
            }
        }
    }
}